<div class="box box-form group">

  <fieldset id="order-details">
    <legend><%= t(@order.state, :scope => :order_state).titleize %></legend>
    <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
  </fieldset>

  <div class="form-buttons" data-hook="buttons">
    <%= submit_tag t(:place_order), :class => 'continue button button-primary' %>
  </div>

</div>