<% content_for :body_class, "class='signin'" %>
<header class="container group center">
  <a href="<%= root_path %>"><h1 class="logo karnl">Karnl</h1></a>
</header>
<div class="container">
  <%= render :partial => "spree/shared/user_form" %>
</div>
